# Create a Docker network before running the container
# Command: docker network create reverse_proxy
# Set up a tinyauth forwader + reverse proxy on port 80 for mazanoke using Caddyfile

services:
  mazanoke:
    image: ghcr.io/civilblur/mazanoke:latest
    container_name: mazanoke
    restart: unless-stopped
    networks:
      - reverse_proxy

networks:
  reverse_proxy:
    external: true