# Create a Docker network before running the container
# Command: docker network create reverse_proxy
# Command: docker network create karakeep
# Generate NEXTAUTH_SECRET and MEILI_MASTER_KEY
# Command: openssl rand -base64 36
# Set up a reverse proxy on port 3000 for karakeep using Caddyfile

services:
  karakeep:
    image: ghcr.io/karakeep-app/karakeep:release
    container_name: karakeep
    restart: unless-stopped
    networks:
      - reverse_proxy
      - karakeep
    volumes:
      - ./karakeep-data:/data
    environment:
      MEILI_ADDR: http://karakeep-meilisearch:7700
      BROWSER_WEB_URL: http://karakeep-chrome:9222
      DATA_DIR: /data
      NEXTAUTH_SECRET:
      NEXTAUTH_URL: https://karakeep.your-domain.com
      LOG_LEVEL: notice
      RATE_LIMITING_ENABLED: true
      DISABLE_SIGNUPS: true

  karakee-pchrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    container_name: karakeep-chrome
    restart: unless-stopped
    networks:
      - karakeep
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars

  karakeep-meilisearch:
    image: getmeili/meilisearch:v1.13.3
    container_name: karakeep-meilisearch
    restart: unless-stopped
    networks:
      - karakeep
    environment:
      MEILI_NO_ANALYTICS: true
      MEILI_MASTER_KEY:
    volumes:
      - ./meilisearch:/meili_data

networks:
  reverse_proxy:
    external: true
  karakeep:
    external: true