# Create a Docker network before running the container
# Command: docker network create wireguard_network

services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    restart: unless-stopped
    ports:
      - 51820:51820/udp
    networks:
      - wireguard_network
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SERVERURL=auto
      - PEERS=myWireguard,myLinux,myAndroid
      - PEERDNS=auto
      - ALLOWEDIPS=0.0.0.0/0
      - LOG_CONFS=false
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1

networks:
  wireguard_network:
    external: true